## Задание 1: Имена

### Исходные данные

[names.txt](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/c47a2634-d6cf-4b2b-9229-95fbdbe92cae/names.txt)

В текстовом файле содержится набор имён.

### Задача

Нужно выполнить следующие действия и вывести результат вычислений:

1. Отсортировать все имена в лексикографическом порядке.
2. Посчитать для каждого имени алфавитную сумму – сумму порядковых номеров букв (MAY: 13 + 1 + 25 = 39).
3. Умножить алфавитную сумму каждого имени на порядковый номер имени в отсортированном списке (индексация начинается с 1). Например, если MAY находится на 63 месте в списке, то результат для него будет 63 * 39 = 2457.
4. Сложить произведения из п. 3 для всех имен из файла и получить число.
5. Вывести полученную сумму.

In [1]:
file = open('names.txt', 'r')
names = sorted(file.read().split(','))
print(names[:11])

['"AARON"', '"ABBEY"', '"ABBIE"', '"ABBY"', '"ABDUL"', '"ABE"', '"ABEL"', '"ABIGAIL"', '"ABRAHAM"', '"ABRAM"', '"ADA"']

In [2]:
alphabet = dict([tuple(reversed(i)) for i in enumerate('ABCDEFGHIJKLMNOPQRSTUWVXYZ', 1)]);
print(alphabet)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'W': 22, 'V': 23, 'X': 24, 'Y': 25, 'Z': 26}

In [3]:
def solving(alphabet, names):
    i = 1
    s = 0
    for name in names:
        s += i * sum([alphabet[letter] for letter in name[1:len(name) - 1]])
        i += 1
    return s

answer = solving(alphabet, names)
print(answer)

872299863

## Задание 2: IP-адреса

### Исходные данные

[hits.txt](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/f4f86e5b-f716-478a-9750-5960998f852f/hits.txt)

Файл состоит из строк вида: `<host>\t<ip>\t<page>\n`, где host — корневой домен, ip — IP-адрес, page — «хвост» ссылки.

### Задача

Необходимо вывести 5 IP-адресов, которые встречаются в файле чаще других.

In [4]:
file2 = open('hits.txt', 'r')
lines = file2.read().split('\n')
dictionary = {}
for l in lines:
    string = l.split('\t')
    if dictionary.get(string[1]) != None:
        dictionary[string[1]] += 1 
    else:
        dictionary[string[1]] = 1

dictionary = sorted(dictionary, key = dictionary.get, reverse = True)
dictionary[:5]

['154.157.157.156',
 '82.146.232.163',
 '194.78.107.33',
 '226.247.119.128',
 '21.143.243.182']

## Задание 3: Оценка уроков

Нужно найти, какой из репетиторов получал самую низкую среднюю оценку качества после уроков по физике за каждый день, и вывести эту оценку.

In [5]:
import pandas as pd
import numpy as np

lessons = pd.read_csv('tech_quality/lessons.txt', sep = '|', header = 0, names = ['id', 'event_id', 'subject', 'scheduled_time'], skipinitialspace = True)
participants = pd.read_csv('tech_quality/participants.txt', sep = '|', header = 0, names = ['event_id', 'user_id'], skipinitialspace = True)
quality = pd.read_csv('tech_quality/quality.txt', sep = '|', header = 0, names = ['lesson_id', 'tech_quality'], skipinitialspace = True)
users = pd.read_csv('tech_quality/users.txt', sep = '|', header = 0, names = ['human_id', 'role'], skipinitialspace = True)

In [6]:
lessons.head(5)

,id,event_id,subject,scheduled_time
0,--------------------------------------+-------...,NaN,NaN,NaN
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114.0,phys,2020-01-19 12:00:00
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568.0,it,2020-01-19 13:00:00
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790.0,hist,2020-01-19 13:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00

In [7]:
participants.head(5)

,event_id,user_id
0,----------+--------------------------------------,NaN
1,38114,e28351f5-4ccb-4549-8647-d43f2b15e7b8
2,38114,4df2832a-1d63-4453-9659-43993fc35996
3,51568,bb1c0bc8-1212-452b-97a0-439d4a2169e2
4,51568,63441abe-c4da-4275-ba26-66f7dbd65dde

In [8]:
quality.head(5)

                                           lesson_id  tech_quality
0  --------------------------------------+-------...           NaN
1              6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a            5.0
2              62e1a078-33de-47c1-99d2-845b1daca56f            5.0
3              62e1a078-33de-47c1-99d2-845b1daca56f            5.0
4              00fc6685-f53a-49bb-b960-5e0042fd3852            5.0

In [9]:
users.head(5)

                                         human_id   role
0  --------------------------------------+-------    NaN
1           e28351f5-4ccb-4549-8647-d43f2b15e7b8   pupil
2           4df2832a-1d63-4453-9659-43993fc35996   tutor
3           bb1c0bc8-1212-452b-97a0-439d4a2169e2   pupil
4           63441abe-c4da-4275-ba26-66f7dbd65dde   tutor

In [10]:
lessons.tail(5)

,id,event_id,subject,scheduled_time
375,056c3d91-dce7-4071-91d3-1de816ee63a3,51001.0,hist,2020-01-17 12:45:00
376,c64a1daf-d7f5-4c8c-ac9f-df634d77327b,50304.0,bio,2020-01-11 11:00:00
377,aa7702bc-5271-469c-a1c2-b7e814fd7e20,49880.0,bio,2020-01-16 15:00:00
378,8643fa00-217a-42ae-a27d-e6f47c0501f1,55449.0,bio,2020-01-19 12:15:00
379,(378 rows),NaN,NaN,NaN

In [11]:
participants.tail(5)

       event_id                               user_id
740      49880   8476b612-223f-4c86-9b0b-14bc04759233
741      49880   582e6abb-dd9a-42fa-b441-455eac28327e
742      55449   ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb
743      55449   d3364cf3-46cc-4e64-ad11-70a069f7c049
744  (743 rows)                                   NaN

In [12]:
quality.tail(5)

                                 lesson_id  tech_quality
362  aa7702bc-5271-469c-a1c2-b7e814fd7e20            5.0
363  8643fa00-217a-42ae-a27d-e6f47c0501f1            5.0
364  7a15af58-39d0-4207-bfdf-3fa176b7fb4e            5.0
365  7a15af58-39d0-4207-bfdf-3fa176b7fb4e            5.0
366                             (365 rows)           NaN

In [13]:
users.tail(5)

                                  human_id   role
740  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb   tutor
741  d3364cf3-46cc-4e64-ad11-70a069f7c049   pupil
742  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb   tutor
743  f76609c8-ba5d-4818-9b57-097debc90cab   pupil
744                             (743 rows)    NaN

In [14]:
lessons = lessons.drop([0, 379])

In [15]:
participants = participants.drop([0, 744])

In [16]:
quality = quality.drop([0, 366])

In [17]:
users = users.drop([0, 744])

In [18]:
users.tail(5)

                                  human_id   role
739  582e6abb-dd9a-42fa-b441-455eac28327e   pupil
740  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb   tutor
741  d3364cf3-46cc-4e64-ad11-70a069f7c049   pupil
742  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb   tutor
743  f76609c8-ba5d-4818-9b57-097debc90cab   pupil

In [19]:
quality2 = quality[(quality['tech_quality'] == 5) | (quality['tech_quality'] == 4) | (quality['tech_quality'] == 3) | (quality['tech_quality'] == 2) | (quality['tech_quality'] == 1) | (quality['tech_quality'] == 0)]

In [20]:
quality2

                                 lesson_id  tech_quality
1    6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a            5.0
2    62e1a078-33de-47c1-99d2-845b1daca56f            5.0
3    62e1a078-33de-47c1-99d2-845b1daca56f            5.0
4    00fc6685-f53a-49bb-b960-5e0042fd3852            5.0
5    00fc6685-f53a-49bb-b960-5e0042fd3852            5.0
..                                     ...           ...
361  c64a1daf-d7f5-4c8c-ac9f-df634d77327b            5.0
362  aa7702bc-5271-469c-a1c2-b7e814fd7e20            5.0
363  8643fa00-217a-42ae-a27d-e6f47c0501f1            5.0
364  7a15af58-39d0-4207-bfdf-3fa176b7fb4e            5.0
365  7a15af58-39d0-4207-bfdf-3fa176b7fb4e            5.0

[349 rows x 2 columns]

In [21]:
lessons[lessons.columns[2]].iloc[0]

'phys    '

In [22]:
lessons2 = lessons[lessons['subject'] == 'phys    ']

In [23]:
lessons2.head()

,id,event_id,subject,scheduled_time
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114.0,phys,2020-01-19 12:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00
5,4cadf623-82e6-422f-a342-acf978302fb2,55048.0,phys,2020-01-19 14:00:00
7,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026.0,phys,2020-01-19 15:00:00
9,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645.0,phys,2020-01-19 14:00:00

In [24]:
new_table = pd.merge(quality2, lessons2, left_on = ['lesson_id'], right_on = ['id'])

In [25]:
new_table.head(10)

,lesson_id,tech_quality,id,event_id,subject,scheduled_time
0,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00
1,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00
2,4cadf623-82e6-422f-a342-acf978302fb2,5.0,4cadf623-82e6-422f-a342-acf978302fb2,55048.0,phys,2020-01-19 14:00:00
3,e597a79a-3f68-4d15-bc77-c7000bcf8e52,5.0,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026.0,phys,2020-01-19 15:00:00
4,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,5.0,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645.0,phys,2020-01-19 14:00:00
5,7d56b43a-d137-446d-8570-8d7d5ccbaee9,5.0,7d56b43a-d137-446d-8570-8d7d5ccbaee9,51153.0,phys,2020-01-20 17:00:00
6,38a8b0ea-ff54-42cf-ab5b-742700ffcd0a,5.0,38a8b0ea-ff54-42cf-ab5b-742700ffcd0a,53356.0,phys,2020-01-20 10:00:00
7,38a8b0ea-ff54-42cf-ab5b-742700ffcd0a,5.0,38a8b0ea-ff54-42cf-ab5b-742700ffcd0a,53356.0,phys,2020-01-20 10:00:00
8,b1a122d7-b1c3-43c9-86e1-ec5e40456a3b,5.0,b1a122d7-b1c3-43c9-86e1-ec5e40456a3b,42871.0,phys,2020-01-20 10:00:00
9,b1a122d7-b1c3-43c9-86e1-ec5e40456a3b,5.0,b1a122d7-b1c3-43c9-86e1-ec5e40456a3b,42871.0,phys,2020-01-20 10:00:00

In [26]:
new_table.dtypes

lesson_id          object
tech_quality      float64
id                 object
event_id          float64
subject            object
scheduled_time     object
dtype: object

In [27]:
participants.dtypes

event_id    object
user_id     object
dtype: object

In [28]:
participants['event_id'] = pd.to_numeric(participants['event_id'])

In [29]:
participants.dtypes

event_id     int64
user_id     object
dtype: object

In [30]:
new_table2 = pd.merge(new_table, participants, left_on = ['event_id'], right_on = ['event_id'])

In [31]:
new_table2.head(10)

,lesson_id,tech_quality,id,event_id,subject,scheduled_time,user_id
0,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00,4ab072ed-8a41-4ed6-9877-8f1d1fbb24d2
1,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00,30a19496-bdaf-461c-abbc-2709ae520201
2,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00,4ab072ed-8a41-4ed6-9877-8f1d1fbb24d2
3,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00,30a19496-bdaf-461c-abbc-2709ae520201
4,4cadf623-82e6-422f-a342-acf978302fb2,5.0,4cadf623-82e6-422f-a342-acf978302fb2,55048.0,phys,2020-01-19 14:00:00,43efce48-94b2-4412-857f-223d45969008
5,4cadf623-82e6-422f-a342-acf978302fb2,5.0,4cadf623-82e6-422f-a342-acf978302fb2,55048.0,phys,2020-01-19 14:00:00,6daa4b70-1e22-46c8-bcb4-22d452e4add1
6,e597a79a-3f68-4d15-bc77-c7000bcf8e52,5.0,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026.0,phys,2020-01-19 15:00:00,43efce48-94b2-4412-857f-223d45969008
7,e597a79a-3f68-4d15-bc77-c7000bcf8e52,5.0,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026.0,phys,2020-01-19 15:00:00,e4e0a62e-5f9f-4d44-aa3f-e6827a926d9f
8,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,5.0,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645.0,phys,2020-01-19 14:00:00,8fe03f08-8581-430c-a590-9888ab36deb3
9,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,5.0,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645.0,phys,2020-01-19 14:00:00,3c5d30e3-8831-490e-a2a4-63e6ff1c33bb

In [32]:
tutors = users[(users['role'] == 'tutor')]

In [33]:
tutors.head()

                                human_id   role
2  4df2832a-1d63-4453-9659-43993fc35996   tutor
4  63441abe-c4da-4275-ba26-66f7dbd65dde   tutor
5  a1323b68-c82c-429a-8e2c-65597e648c1a   tutor
8  30a19496-bdaf-461c-abbc-2709ae520201   tutor
9  43efce48-94b2-4412-857f-223d45969008   tutor

In [34]:
almost_res = new_table2.groupby(['event_id'])[['tech_quality']].mean().sort_values('tech_quality')

In [35]:
almost_res.head()

          tech_quality
event_id
52949.0            2.0
53159.0            4.0
38199.0            4.0
53917.0            4.0
41625.0            4.0

In [36]:
answer = [almost_res['tech_quality'].iloc[0]]
answer

[2.0]

In [37]:
index = almost_res.index[almost_res['tech_quality'] <= 5].tolist()

In [38]:
index[:5]

[52949.0, 53159.0, 38199.0, 53917.0, 41625.0]

In [39]:
part = participants[participants['event_id'] == index[0]]
part

     event_id                               user_id
539     52949  9d9029a2-c81a-49f7-84ee-7696eecd2f99
540     52949  43efce48-94b2-4412-857f-223d45969008

In [40]:
index_part = part['user_id'].tolist()
index_part

['9d9029a2-c81a-49f7-84ee-7696eecd2f99',
 '43efce48-94b2-4412-857f-223d45969008']

In [41]:
new_tutors = tutors['human_id'].tolist()

In [42]:
new_tutors[:4]

['4df2832a-1d63-4453-9659-43993fc35996 ',
 '63441abe-c4da-4275-ba26-66f7dbd65dde ',
 'a1323b68-c82c-429a-8e2c-65597e648c1a ',
 '30a19496-bdaf-461c-abbc-2709ae520201 ']

In [43]:
for i in range(len(new_tutors)):
    b = new_tutors[i].split()
    b = ''.join(b)
    new_tutors[i] = b

In [44]:
new_tutors[:4]

['4df2832a-1d63-4453-9659-43993fc35996',
 '63441abe-c4da-4275-ba26-66f7dbd65dde',
 'a1323b68-c82c-429a-8e2c-65597e648c1a',
 '30a19496-bdaf-461c-abbc-2709ae520201']

In [45]:
for item2 in index_part:
    for item1 in new_tutors:
        if item1 == item2:
            answer.append(item1)
            break

In [46]:
print('Репетитор id =', answer[1], 'Оценка = ', answer[0])

Репетитор id = 43efce48-94b2-4412-857f-223d45969008 Оценка =  2.0